<div class="containerDiv">
  <div class="text-center">
    <h2 class="title">Customer Management App</h2>
  </div>
  <!--===== ABOUT =====-->
  <div class="about__container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="https://images.pexels.com/photos/439818/pexels-photo-439818.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-md-6 mt-5">
        <p class="about__text font-italic">
          Customer Management application is a full service digital agency for
          interacting with our customers which containing all the details of our
          customers. <br />We gives value to our customers, and manage them with
          full of perfection. Customer Management application is a full service
          digital agency for interacting with our customers which containing all
          the details of our customers.
        </p>
        <div class="about__social" style="margin-top: 15px">
          <p>
            <i class="fab fa-linkedin fa-2x"></i
            ><i class="fab fa-github fa-2x mx-2"></i>
            <i class="fa-solid fa-envelope fa-2x"></i>
          </p>
        </div>
      </div>
    </div>
    <div></div>
  </div>
</div>
