.title {
  font-size: 40px;
}
.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
  margin-top: 30px;
}
.about__img img {
  width: 100%;
}
.about__text {
  margin-bottom: var(--mb-4);
  color: #0f0c0c;
  font-weight: 500;
  font-style: italic;
}
.containerDiv {
  padding-top: 6rem;
  width: 75%;
  margin: auto;
  margin-left: auto;
}
