<mat-toolbar color="primary" class="mat-elevation-z6 display">
  <span routerLink="/">
    <i class="fa-solid fa-user-group"></i>  Customer Manager
  </span>
  <div class="spacer"></div>
  <div class="d-none d-md-block">
  <a routerLinkActive="active" class="navButton" fxHide.xs mat-button routerLink="/customer" >Customers</a>
  <a routerLinkActive="active" class="navButton" mat-button routerLink="/orders">Orders</a>
  <a routerLinkActive="active" class="navButton" mat-button routerLink="/about">About</a>
</div>

  <a routerLinkActive="active" class="navButton" mat-button routerLink="/login">Login</a>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" class="d-block d-md-none" >
          <a class="valign-center" mat-icon-button [matMenuTriggerFor]="menuItem" aria-label="additional links">
              <mat-icon>menu</mat-icon>
          </a>
          <mat-menu #menuItem="matMenu"  >
              <button mat-menu-item routerLink="/recipes" >Customers</button>
              <button mat-menu-item routerLink="/shopping-list">About</button>
              <button mat-menu-item routerLink="/shopping-list">Orders</button>
            </mat-menu>
      </div>
</mat-toolbar>

