<div class="container">
  <div class="row">
    <div class="col">
      <p class="h3 text-black fw-bold">
        <i class="fa-solid fa-user-tie"></i> Customers
      </p>

      <button class="btn btn-default" routerLink="/">
        <i class="fa-solid fa-address-card"></i> Card view
      </button>
      <button class="btn btn-default" routerLink="/customer/list-view">
        <i class="fa-solid fa-list-ul"></i> List view
      </button>
      <button mat-button (click)="openDialog()">
        <i class="fa-solid fa-user-plus"></i> New Customer
      </button>
    </div>
  </div>
</div>
<div class="containerDiv">
  <router-outlet></router-outlet>
</div>
