/* .modal-header
{
height: 50px;
padding: 35px;
text-align: center;
} */
/* .row {
  margin-top: 5px;
} */
label {
  font-weight: bold;
}
input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: 50;
}
/* .form-box {
  position: fixed;
  top: 10vh;
  left: 30vw;
  width: 40vw;
  padding: 16px;
  z-index: 100;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}
@media only screen and (max-width: 600px) {
  .form-box {
    align-items: center;
    position: fixed;
    top: 1vh;
    width: 50vh;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  .form-box-actions {
     margin-top:-25px;
  }
}

.form-box-actions {
  text-align: right;
} */
/* :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */
.help-block {
  color: red;
}

label {
  font-size: 17px;
  font-weight: 500;
}
.center {
  display: block;
  margin: 0 auto;
  padding-top: 0px;
}
.containerDiv {
  padding-top: 0px;
  width: 75%;
  margin: auto;
  margin-left: auto;
}
